:root {
  --grayscale0-color: #ffffff;
  --grayscale10-color: #e5e5e5;
  --grayscale20-color: #cccccc;
  --grayscale40-color: #999999;
  --Grayscale-50-color: #808080;
  --grayscale70-color: #4c4c4c;
  --grayscale80-color: #333333;
  --grayscale90-color: #1a1a1a;
  --grayscale400-color: #bdbdbd;
  --primarynormal-color: #486642;
  --black-color: #000000;

  --custom-font: Steppe;
}
.wrapCart {
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.smallWrap {
  width: 1140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}
.prodWrap {
  width: 777px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.pInCart {
  color: #191919;
  margin: 0;
  font-family: var(--custom-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 1.4px;
  margin-bottom: 30px;
}
.pInCartY {
  color: #191919;
  margin: 0;
  font-family: var(--custom-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.prodInCartWrap {
  width: calc(100% - 24px);
  height: calc(179px - 24px);
  padding: 12px;
  border-radius: 30px;
  background: var(--grayscale0-color);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.wrapImg {
  width: 155px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 16px;
}
.imgInCart {
  width: 155px;
  height: 155px;
  object-fit: cover;
  border-radius: 4px;
}
.descriptionWrap {
  width: 384px;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.nameProd {
  color: var(--grayscale70-color);
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
  margin: 0;
  margin-bottom: 4px;
  width: 100%;
  height: 24px;
  overflow: hidden;
  text-decoration: none;
}
.wrapPrice {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceP {
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.line {
  width: 1px;
  height: 19px;
  background: #e5e5e5;
  margin-left: 16px;
  margin-right: 16px;
}
.smallDesc {
  color: var(--grayscale70-color);
  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.7px;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.wrapQuon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quontP {
  color: #999;
  margin: 0;
  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.7px;
}
.minIconSt {
  width: 15px;
  height: 20px;
  margin-left: 16px;
  margin-right: 8px;
  cursor: pointer;
}
.plusIconSt {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  cursor: pointer;
}
.counterInput {
  width: 46px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: #333;

  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.7px;
  background: var(--grayscale0-color);
  text-align: center;
}
.wrapAllPriceRemout {
  width: 182px;
  height: calc(155px - 32px);
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.wrapRemout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.saveFor {
  color: var(--primarynormal-color);
  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
  margin: 0;
}
.minFor {
  color: #000;

  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
}
.remoutP {
  cursor: pointer;
  color: #d7575b;

  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin: 0;
}
.fullPrice {
  color: var(--primarynormal-color);
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.wrapAllSum {
  width: calc(333px - 32px);
  height: calc(144px - 40px);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapPrice {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.firOrder {
  color: var(--primarynormal-color);
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.wrapFirSmall {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemSub {
  margin: 0;
  color: #999;

  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.itemSpan {
  margin: 0;
  color: var(--primarynormal-color);
  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.allPrice {
  margin: 0;
  color: var(--primarynormal-color);
  font-family: var(--custom-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buttonCheckout {
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 4px;
  background: var(--primarynormal-color);
  color: var(--grayscale0-color);
  cursor: pointer;
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}
.buttonCheckoutShop {
  width: 200px;
  height: 48px;
  border: 0;
  border-radius: 4px;
  background: var(--primarynormal-color);
  color: var(--grayscale0-color);
  cursor: pointer;
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}
@media only screen and (max-width: 414px) and (min-width: 300px) {
  .smallWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .prodWrap {
    width: calc(100% - 10px);
    height: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .prodInCartWrap {
    width: calc(100% - 24px);
    height: auto;
    padding: 12px;
    border-radius: 30px;
    background: var(--grayscale0-color);
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    margin-bottom: 30px;
  }
  .descriptionWrap {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  .nameProd {
    width: auto;
  }
  .smallDesc {
    color: var(--grayscale70-color);
    font-family: var(--custom-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) and (min-width: 414px) {
  .smallWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .prodWrap {
    width: calc(100% - 10px);
    height: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .prodInCartWrap {
    width: calc(400px - 24px);
    height: auto;
    padding: 12px;
    border-radius: 30px;
    background: var(--grayscale0-color);
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    margin-bottom: 30px;
  }
  .descriptionWrap {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  .nameProd {
    width: auto;
  }
  .smallDesc {
    color: var(--grayscale70-color);
    font-family: var(--custom-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
  }
}
@media only screen and (max-width: 700px) and (min-width: 600px) {
  .smallWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .prodWrap {
    width: calc(100% - 10px);
    height: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .prodInCartWrap {
    width: calc(400px - 24px);
    height: auto;
    padding: 12px;
    border-radius: 30px;
    background: var(--grayscale0-color);
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    margin-bottom: 30px;
  }
  .descriptionWrap {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  .nameProd {
    width: auto;
  }
  .smallDesc {
    color: var(--grayscale70-color);
    font-family: var(--custom-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 700px) {
  .smallWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
  }
  .prodWrap {
    width: calc(700px - 10px);
    height: auto;
    padding-left: 10px;
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .smallWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
  }
  .prodWrap {
    width: calc(777px - 10px);
    height: auto;
    padding-left: 10px;
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
}
