:root {
  --grayscale0-color: #ffffff;
  --grayscale10-color: #e5e5e5;
  --grayscale20-color: #cccccc;
  --grayscale40-color: #999999;
  --grayscale80-color: #333333;
  --primarynormal-color: #609966;
  --black-color: #000000;
  --newfontgreen-color: #486642;
  --custom-font: Steppe;
  --customtwo-font: Inter;
}
.wrapHeaderAll {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapHeaderAllNew {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.wrapHeaderAllModern {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.wrapHeaderAllForDash {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.wrapDiscountHead {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primarynormal-color);
}
.pForSale {
  margin: 0;
  color: var(--grayscale0-color);
  font-family: var(--custom-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.6px;
}
.wrapHeader {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapHeaderNew {
  width: calc(100% - 104px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 0px 50px 50px;
  background: #fffceb;
}
.wrapHeaderModern {
  width: calc(100% - 104px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 0px 50px 50px;
  background: none;
}
.wrapHeaderForDash {
  width: calc(100%);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: var(--grayscale0-color);
}
.navigation {
  width: 500px;
  display: flex;
  align-items: center;
}
.ulNavInHeader {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.linkLi {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1a1a1a;
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
  cursor: pointer;
}
.linkLiLogin {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1a1a1a;
  font-family: var(--custom-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
.logIcon {
  margin-right: 4px;
  margin-left: 12px;
}
.wrapShopCategory {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.shapCatP {
  margin: 0;
  color: var(--newfontgreen-color);

  font-family: var(--customtwo-font);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.iconArrowD {
  width: 13px;
  height: 20px;

  margin-left: 8px;
}
.iconArrowDR {
  width: 13px;
  height: 20px;

  margin-right: 7px;
}
.wrapInputSearch {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(43%);
}
.inputHeader {
  width: calc(100% - 4px);
  height: calc(48px - 4px);
  border-radius: 100px;
  border: 2px solid var(--newfontgreen-color);
  background: #fffceb;
  padding-left: 27px;
}
.inputHeaderModern {
  width: calc(100% - 4px);
  height: calc(48px - 4px);
  border-radius: 100px;
  border: 2px solid var(--newfontgreen-color);
  background: none;
  padding-left: 27px;
}
.inputHeaderModern:focus {
  outline: none; /* Забираємо рамку */
}
.inputHeaderDash {
  width: calc(100% - 4px);
  height: calc(48px - 4px);
  border-radius: 100px;
  border: 2px solid var(--newfontgreen-color);
  background: var(--grayscale0-color);
  padding-left: 27px;
}
.inputHeader::placeholder {
  color: rgba(72, 102, 66, 0.4);

  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.newSearchHeader {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: #486642;
  border-radius: 50%;
  cursor: pointer;
  right: 5px;
}
.searchIconHeader {
  z-index: 1;
}
.wrapIconsHeader {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapavatarName {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.nameP {
  margin: 0;
  color: var(--newfontgreen-color);

  font-family: var(--customtwo-font);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.wrapPhoto {
  width: calc(42px - 4px);
  height: calc(42px - 4px);
  border: 2px solid var(--newfontgreen-color);
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 19px;
}
.userPhoto {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
}
.withoutPhoto {
  width: 34px;
  height: 34px;
  background: var(--newfontgreen-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffceb;
  font-family: var(--customtwo-font);
  border-radius: 50%;
}
.wrapAllIcons {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.elipse {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #c64f5b;
  border-radius: 50%;
  bottom: 0;
  right: -4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.countCart {
  font-size: 9px;
  color: var(--grayscale0-color);
  font-family: var(--custom-font);
  margin: 0;
  font-weight: bold;
  margin-top: 2px;
}
.werticalLine {
  height: 42.5px;
  width: 2px;
  background: var(--newfontgreen-color);
  border-radius: 1px;
  margin-right: 23px;
}
.hamburgerWr {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  cursor: pointer;
}
.hambSpFirs {
  height: 1.05px;
  background: var(--newfontgreen-color);
  width: 50%;
  flex-shrink: 0;
  transition: width 0.6s ease;
}
.hambSpSecont {
  height: 1.05px;
  background: var(--newfontgreen-color);
  width: 75%;
  flex-shrink: 0;
  transition: width 0.6s ease;
}
.hambSpThre {
  height: 1.05px;
  background: var(--newfontgreen-color);
  width: 100%;
  flex-shrink: 0;
}
.hamburgerWr:hover .hambSpFirs {
  width: 100%;
}
.hamburgerWr:hover .hambSpSecont {
  width: 100%;
}
.contactWrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: var(--grayscale0-color);
  z-index: 100;
}
.smallWrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 40px;
}
.aiOutlineClose {
  position: absolute;
  top: 30px;
  right: 60px;
  font-size: 20px;
  color: var(--newfontgreen-color);
  cursor: pointer;
}
.logoInContact {
  font-family: var(--custom-font);
  font-size: 70px;
  margin-top: 10px;

  color: white;
  letter-spacing: 8px;
  margin-bottom: 15px;
}
.smallDescContact {
  font-family: var(--custom-font);
  color: white;
  margin-top: 0;
  font-size: 15px;
  width: 80%;
}
.iconWrap {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 70px;
}
.pMainInPop {
  color: var(--grayscale80-color);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 1.6px;
  margin: 0;
}
.navigationUl {
  list-style-type: none;
  padding: 0;
}
.liNavI {
  color: var(--newfontgreen-color);
  font-family: "Orpheus Pro";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 1.6px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}
.navigationInHeader {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.ulNavigation {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
